<!--header-->
<header class="main-header clearfix" role="header">
    <div class="logo">
        <!-- <a href="#"><em>Odyssey</em> International Academy</a> -->
        <img style="height: 80px;" src="assets/odyssey-circle.png">
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="#section1">Home</a></li>
            <li class="has-submenu"><a href="#section2">About Us</a>
                <ul class="sub-menu">
                    <li><a href="#section2">Who we are?</a></li>
                    <li><a href="#section3">What we do?</a></li>
                    <li><a href="#section3">How it works?</a></li>
                    <li><a href="Javascript:;" rel="sponsored" class="external">External URL</a></li>
                </ul>
            </li>
            <li><a href="#section4">Courses</a></li>
            <li><a href="#section6">Contact</a></li>
        </ul>
    </nav>
</header>

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
          <source src="assets/images/course-video.mp4" type="video/mp4" />
      </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>Odyssey International Academy</h6>
            <h2 style="font-size: 50px;"><em>"Education for</em> Your child future"</h2>
            <div class="main-button">
                <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->


<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="features-post">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-pencil"></i>All Courses</h4>
                        </div>
                        <div class="content-hide">
                            <p>........</p>
                            <p class="hidden-sm">.....</p>
                            <div class="scroll-to-section"><a href="#section2">More Info.</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post second-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-graduation-cap"></i>Virtual Class</h4>
                        </div>
                        <div class="content-hide">
                            <p>.....</p>
                            <p class="hidden-sm">......</p>
                            <div class="scroll-to-section"><a href="#section3">Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post third-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-book"></i>Real Meeting</h4>
                        </div>
                        <div class="content-hide">
                            <p>.....</p>
                            <p class="hidden-sm">......</p>
                            <div class="scroll-to-section"><a href="#section4">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section why-us" data-section="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Why choose Odyssey School?</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id='tabs'>
                    <ul>
                        <li><a href='#tabs-1'>Quality Education</a></li>
                        <li><a href='#tabs-2'>Top Management</a></li>
                        <li><a href='#tabs-3'>Quality Meeting</a></li>
                    </ul>
                    <section class='tabs-content'>
                        <article id='tabs-1'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/choose-us-image-01.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Quality Education</h4>
                                    <p>
                                        A quality education is one that focuses on the whole child—the social, emotional, mental, physical, and cognitive development of each student regardless of gender, race, ethnicity, socioeconomic status, or geographic location. It prepares the child for
                                        life, not just for testing.
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-2'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/choose-us-image-02.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Top Level</h4>
                                    <p>Higher education is tertiary education leading to award of an academic degree. Higher education, also called post-secondary education, third-level or tertiary education, is an optional final stage of formal learning
                                        that occurs after completion of secondary education.</p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-3'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/choose-us-image-03.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Quality Meeting</h4>
                                    <p>Quality Meetings are conducted to review the Quality Reviews that have been generated. The minutes (summary) of these meetings would include the discussion on the various Quality Reviews.</p>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section coming-soon" data-section="section3">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <div class="continer centerIt">
                    <div>
                        <h4>Book your <em>seat today</em> and and get upto 50% discount.</h4>
                        <div class="counter">

                            <div class="days">
                                <div class="value">00</div>
                                <span>Days</span>
                            </div>

                            <div class="hours">
                                <div class="value">00</div>
                                <span>Hours</span>
                            </div>

                            <div class="minutes">
                                <div class="value">00</div>
                                <span>Minutes</span>
                            </div>

                            <div class="seconds">
                                <div class="value">00</div>
                                <span>Seconds</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="right-content">
                    <div class="top-content">
                        <h6>Register your seat and <em>get</em> upto 50% discount.</h6>
                    </div>
                    <form id="contact" action="" method="get">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="phone-number" type="text" class="form-control" id="phone-number" placeholder="Your Phone Number" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="button">Get it now</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Choose Your Course</h2>
                </div>
            </div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="assets/images/courses-01.jpg" alt="Course #1">
                    <div class="down-content">
                        <h4>Digital Marketing</h4>
                        <p>......</p>
                        <div class="author-image">
                            <img src="assets/images/author-01.png" alt="Author 1">
                        </div>
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-02.jpg" alt="Course #2">
                    <div class="down-content">
                        <h4>Business World</h4>
                        <p>......</p>
                        <div class="author-image">
                            <img src="assets/images/author-02.png" alt="Author 2">
                        </div>
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-03.jpg" alt="Course #3">
                    <div class="down-content">
                        <h4>Media Technology</h4>
                        <p>......</p>
                        <div class="author-image">
                            <img src="assets/images/author-03.png" alt="Author 3">
                        </div>
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-04.jpg" alt="Course #4">
                    <div class="down-content">
                        <h4>Communications</h4>
                        <p>........</p>
                        <div class="author-image">
                            <img src="assets/images/author-04.png" alt="Author 4">
                        </div>
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-05.jpg" alt="">
                    <div class="down-content">
                        <h4>Business Ethics</h4>
                        <p>......</p>
                        <div class="author-image">
                            <img src="assets/images/author-05.png" alt="">
                        </div>
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-01.jpg" alt="">
                    <div class="down-content">
                        <h4>Photography</h4>
                        <p>.......</p>
                        <div class="author-image">
                            <img src="assets/images/author-01.png" alt="">
                        </div>
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-02.jpg" alt="">
                    <div class="down-content">
                        <h4>Web Development</h4>
                        <p>......</p>
                        <div class="author-image">
                            <img src="assets/images/author-02.png" alt="">
                        </div>
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-03.jpg" alt="">
                    <div class="down-content">
                        <h4>Learn HTML CSS</h4>
                        <p>......</p>
                        <div class="author-image">
                            <img src="assets/images/author-03.png" alt="">
                        </div>
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-04.jpg" alt="">
                    <div class="down-content">
                        <h4>Social Media</h4>
                        <p>......</p>
                        <div class="author-image">
                            <img src="assets/images/author-04.png" alt="">
                        </div>
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-05.jpg" alt="">
                    <div class="down-content">
                        <h4>Digital Arts</h4>
                        <p>......</p>
                        <div class="author-image">
                            <img src="assets/images/author-05.png" alt="">
                        </div>
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/courses-01.jpg" alt="">
                    <div class="down-content">
                        <h4>Media Streaming</h4>
                        <p>......</p>
                        <div class="author-image">
                            <img src="assets/images/author-01.png" alt="">
                        </div>
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section video" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="left-content">
                    <span>our presentation is for you</span>
                    <h4>Watch the video to learn more <em>about Odyssey International Academy</em></h4>
                    <p>Odyssey International Academy with “Education is an intuition” as its credo has indeed been successful in its attempt to spread light in the darkness and eradicate the blemishness of illiteracy from the socity. The school was established
                        in the year 1998A.D. is located 100 m away from the ringroad. Odyssey international academy has all physical facilities and infrastructure to meet the demand of modern education. To maintain physical as well as mental quilibrium
                        of the students, literacy as well as extra</p>
                    <b>Message</b>
                    <p>
                        First of all, I would like to extend my heartly gratitude to all patriarchal parents, due to inimitable support for reposing their trust and confidence on us . Yours instant cooperation and valuable suggestion will be milestone to recognize this school
                        as a highly reputed school in the Kathmandu valley.
                    </p>

                    <p>
                        Odyssey Int’l Academy is a fastly growing an English medium boarding school which is located Basundhara, Kathmandu. The teaching methodology adopted by odyssey International Academy based on Montessori which microscopically studies the child psychology
                        to maintain physical as well as mental equilibrium of the students. We have managed all physical facilities and infrastructure to make the teaching effective and innovative. Odyssey has passed out all students with distinction
                        in every SLC examination. Odyssey Int’l Academy has successes to create a history in Basketball Tournament.
                    </p>

                    <p>
                        At the end of my short message , I would like to request all new parents to visit this school.
                    </p>
                    <div class="main-button"><a rel="nofollow" href="Javascript:;" target="_parent">Read more..</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <article class="video-item">
                    <div class="video-caption">
                        <h4>Odyssey int'l School</h4>
                    </div>
                    <figure>
                        <a href="https://www.youtube.com/" class="play"><img src="assets/building.jpg"></a>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section contact" data-section="section6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Let’s Keep In Touch</h2>
                </div>
            </div>
            <div class="col-md-6">

                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="button">Send Message Now</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14124.976278216029!2d85.32721!3d27.740617!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x10dac335441d0d07!2sOdyssey%20Int&#39;l%20Academy!5e0!3m2!1sen!2snp!4v1614753994521!5m2!1sen!2snp" width="100%"
                        height="422px" style="border:0;" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><i class="fa fa-copyright"></i> Copyright 2021 by odyssey nepal.</p>
            </div>
        </div>
    </div>
</footer>
